<gps-page-edit
  #gpsPageEdit
  [p-title]="getPageTitle()"
  (p-cancel)="onCancel()"
  (p-save)="onSave()"
  p-custom-fields-class="po-offset-md-3 po-offset-lg-3 po-offset-xl-3">
  <ng-container *ngIf="data">
@[app.fields,ablFixedValue=]@
?[!zoomComponent=&!hasZeroAll]?
    <div class="po-row">
        <po-lookup
          name="#[name]#"
          class="po-sm-12 po-md-12 po-lg-6 po-xl-6 po-offset-lg-3 po-offset-xl-3"
          p-label="#[description]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#"
          [p-columns]="#[zoom.component,camelCase]#Zoom.COLUMNS"
          [p-filter-service]="#[zoom.component,camelCase]#Zoom"
          [p-field-label]="#[zoom.component,camelCase]#Zoom.FIELD_LABEL"
          [p-field-value]="#[zoom.component,camelCase]#Zoom.FIELD_VALUE"
          [p-field-format]="#[zoom.component,camelCase]#Zoom.fieldFormat">
        </po-lookup>
    </div>
?[end]??[!zoomComponent=&hasZeroAll=true]?
    <div class="po-row">
        <gps-lookup-toggle
          name="#[name]#"
          class="po-sm-12 po-md-6 po-lg-6 po-xl-6 po-offset-lg-3 po-offset-xl-3 po-offset-md-3"
          label="#[description]#"
          [zoomService]="#[zoom.component,camelCase]#Zoom"
          [(ngModel)]="data.#[name]#"
          [isDisable]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          lookupClass="po-sm-8 po-md-8 po-lg-8 po-xl-8">
        </gps-lookup-toggle>
    </div>
?[end]??[!enumComponent=]?
    <div class="po-row">
        <po-select
          name="#[name]#"
          class="po-sm-12 po-md-12 po-lg-6 po-xl-6 po-offset-lg-3 po-offset-xl-3"
          p-label="#[description]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#"
          [p-options]="#[enum.component,camelCase]#Options">
        </po-select>
    </div>
?[end]??[jsType=number&enumComponent=&zoomComponent=]?
    <div class="po-row">
        <po-number
          name="#[name]#"
          class="po-sm-12 po-md-6 po-lg-3 po-xl-3 po-offset-lg-3 po-offset-xl-3 po-offset-md-3"
          p-label="#[description]#"
          p-maxlength="#[maxSize]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#">
        </po-number>
    </div>
?[end]??[jsType=boolean&enumComponent=&zoomComponent=]?
    <div class="po-row">
        <po-switch
          class="po-sm-12 po-md-6 po-lg-3 po-xl-3 po-offset-lg-3 po-offset-xl-3 po-offset-md-3"
          name="#[name]#"
          p-label-off="Não"
          p-label-on="Sim"
          p-label="#[description]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#">
        </po-switch>
    </div>
?[end]??[jsType=Date&enumComponent=&zoomComponent=]?
    <div class="po-row">
        <po-datepicker
          name="#[name]#"
          class="po-sm-12 po-md-6 po-lg-3 po-xl-3 po-offset-lg-3 po-offset-xl-3 po-offset-md-3"
          p-label="#[description]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#">
        </po-datepicker>
    </div>
?[end]??[jsType=string&enumComponent=&zoomComponent=]?
    <div class="po-row">
        <po-input
          name="#[name]#"
          class="po-sm-12 po-md-12 po-lg-6 po-xl-6 po-offset-lg-3 po-offset-xl-3"
          p-label="#[description]#"
          p-maxlength="#[maxSize]#"
          p-required="#[isMandatory]#"
          [p-disabled]="this.isNew ? #[isAuto]# : #[isEditable,negate]#"
          [(ngModel)]="data.#[name]#">
        </po-input>
    </div>
?[end]?@[end]@
  </ng-container>
</gps-page-edit>
